black[jupyter]
bs4
geopandas
imblearn
ipykernel
ipython
jupyter
matplotlib
modAL
nltk
numpy
openpyxl
pandas
pylint
pymongo
scikit-optimize
scikit-learn
scipy
seaborn
snowballstemmer
xgboost
yellowbrick
fastf1
dotenv